@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue green;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;


#__next {
  height: 100vh; 
  }

  
.containerAll { 
  height: 10px;
}

.containerAll {
  position: relative;
  width: 100%;
  background: rgba(85, 60, 223, 0.53);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
rect{
  fill: transparent;
}
text{
  fill: #fff;

}
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}


.bar__progress {
  flex: 1;
  border-radius: 2px;
  margin: 0 20px;
  height: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  background: rgba(85, 60, 223, 0.53);
}

  .bar__progress__knob {
    position: relative;
    height: 16px;
    width: 16px;
    border: 1.5px solid #553CDF;
    border-radius: 50%;
    background-color: #553CDF;
  }

  .playercss {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }