@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: blue green;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;


#__next {
  height: 100vh; 
  }



.bar__progress {
  flex: 1;
  border-radius: 2px;
  margin: 0 20px;
  height: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  background: rgba(85, 60, 223, 0.53);
}

  .bar__progress__knob {
    position: relative;
    height: 16px;
    width: 16px;
    border: 1.5px solid #553CDF;
    border-radius: 50%;
    background-color: #553CDF;
  }